[Desktop Entry]
Name=Margo
Comment=A feature-rich Wayland compositor
Exec=margo
Type=Application
TryExec=margo
DesktopNames=margo
X-GDM-SessionType=wayland
X-Session-Type=wayland
