.confirmation-dialog {
  background-color: var(--surface);
}

.confirmation-dialog-title {
  margin: var(--space-6) var(--space-5);
}

.text-entry-dialog-title {
  margin: var(--space-5) var(--space-5) 0 var(--space-5);
}