:root {
  //overridden by style manager
  --radius-widget: 8px;
  //overridden by style manager
  --radius-window: 8px;

  //overridden by style manager
  --border-width: 2px;

  --padding-sm: 4px;
  --padding-md: 8px;
  --padding-lg: 16px;

  --icon-sm: 16px;
  --icon-md: 24px;
  --icon-lg: 32px;

  --font-sm: 14px;
  --font-md: 16px;
  --font-lg: 18px;
  --font-xl: 26px;
  --font-xxl: 32px;
  --font-xxxl: 48px;

  --frame-border-width: var(--border-width);
  --frame-border-radius: var(--radius-window);
}