@use "buttons";

menubutton > button {
  min-height: 0;

  margin: 0;
  @include buttons.button-base('--surface', '--on-surface');
  @include buttons.state-layers('--surface', '--on-surface');
  border: var(--border-width) solid var(--outline);
  padding: var(--padding-md);

  .horizontal {
    min-height: 0;
    margin: 0;
    padding: 0;
  }
}